<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img src="/images/logo-mercado-liebre.svg" alt="Logo" width="500" height="500">
    <div class="topnav">
        <input type="text" placeholder="Buscar productos..">
    </div>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>

    <div class="topnav">
        <a href="Ofertas">Home</a><br>
        <a href="Tiendas Oficiales">About</a><br>
        <a href="Vender">Contact</a><br>
        <p></p>
        <a href="Crea tu cuenta">Home</a><br>
        <a href="Ingresa">About</a><br>
        <a href="Mis compras">Contact</a>
    </div>

    <title>
    </title>
</head>

<body>

    <br>
    <b>Basado en tu ultima visita</b><br><br>
    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="200" height="200">
    <p>$6.700 <br> 40% OFF <br> Cafetera Moulinex </p>
    <br>
    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" width="200" height="200">
    <p>$230.000 <br> 20% OFF <br> MacBook Pro 2019 </p>
    <br>
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung" width="200" height="200">
    <p>$70.500 <br> 10% OFF <br> Samsung Galaxy S10 </p>
    <br>
    <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung" width="200" height="200">
    <p>$23.200 <br> 5% OFF <br> SmartTv Samsung 43" </p>


    <br><strong>Sección de Ofertas</strong><br>
    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="200" height="200">
    <p>$6.700 <br> 40% OFF <br> Cafetera Moulinex </p>
    <br>
    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" width="200" height="200">
    <p>$230.000 <br> 20% OFF <br> MacBook Pro 2019 </p>
    <br>
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung" width="200" height="200">
    <p>$70.500 <br> 10% OFF <br> Samsung Galaxy S10 </p>
    <br>
    <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung" width="200" height="200">
    <p>$23.200 <br> 5% OFF <br> SmartTv Samsung 43" </p>
</body>
<footer>
    <ul type= none>
        <li><b>Pagá con tarjeta o en efectivo</b> <br> Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o
            efectivo en puntos de<br> pago. ¡Y siempre es seguro!</li>
        <br><li><b>Envío gratis desde $ 2.500</b> <br> Solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en miles de
            productos. Es<br> un beneficio de Mercado Puntos.</li>
        <br><li><b>Seguridad, de principio a fin</b> <br> ¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br> no hay nada que no puedas hacer,
            porque estás<br> siempre protegid@.</li>
        <br><li><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b>
    </ul>

</footer>

</html>

