<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MercadoLiebre</title>
    <meta name="viewport" content="width=device-width">

    <!-- Llamar al CSS, y vinculo la hoja de estilos css con el html!!!-->
    <link rel="stylesheet" href="/css/style.css">
    <!-- tengo que agregar a la carpeta public/css el archivo normalize.css (lo saco de goglee) para que me acomode la pagina de una forma general de navegadores-->
    <link rel="stylesheet" href="/css/normalize.css">
    <!--permite que nuestro sitio se ajuste perfectamente a cualquier resolucion de pantalla-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- librerias-->
    <script src="https://kit.fontawesome.com/c1249e3e65.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />



</head>

<body>
    <main>
        <header class="main-header">
            <div class="contenedor-inicio">
                <div class="main-header-top-bar">
                    <div class="logmerc"><img src="/images/logo-mercado-liebre.svg " width="90% "
                            alt="Logo de MercadoLiebre" class="logo"></div>
                    <div class="searchbar"> <input class="search" type="text" placeholder="Buscar productos, marcas y mas"> </div>
                </div>
                <h4 class="copyheader"><i class="fas fa-hand-holding-usd "></i>Comprá en cuotas y sin tarjeta de
                    crédito
                </h4>

                <div class="site">
                    <ul class="first-nav-bar">
                        <li><a href="# ">Ofertas</a></li>
                        <li><a href="# ">Tiendas Oficiales</a></li>
                        <li><a href="# ">Vender</a></li>
                        <li><a href="# ">Ayuda</a>
                        </li>
                    </ul>
                    <ul class="second-nav-bar">
                        <li><a href="register">Creá tu cuenta <i class="far fa-id-card "></i></a></li>
                        <li><a href="login">Ingresá<i class="fas fa-sign-in-alt "></i></a></li>
                        <li><a href="# ">Mis compras<i class="fas fa-shopping-basket "></i></a></li> <br>

                    </ul>
                </div>
                <div class="menubar "><i class="fas fa-bars menuburger "></i></div>


                <div class="banner "><img src="/images/img-home-banner.jpg " width="100% " alt="Banner de ofertas ">
                </div>
            </div>
        </header>


        <h3>Basado en tu última visita</h3>

        <div class="contenedor-productos ">
            <div class="articulo "><img src="/images/img-cafetera-moulinex.jpg " width="360 " alt="Cafetera "
                    class="product_img ">
                <div class="div2 ">
                    <i class="fas fa-truck imgicon "></i>
                    <div class="contenedor ">
                        <h5 class="price ">$6.770</h5>
                        <h5 class="discount ">40% off</h5>
                    </div>
                    <h4 class="description ">Cafetera Moulinex Dolce Gusto.</h4>
                </div>
            </div>

            <div class="articulo "><img src="/images/img-macbook-pro-2019.jpg " width="360 " alt="MacBook "
                    class="product_img ">
                <div class="div2 ">
                    <i class="fas fa-truck imgicon "></i>
                    <div class="contenedor ">
                        <h5 class="price ">$230.000</h5>
                        <h5 class="discount ">20% off</h5>
                    </div>
                    <h4 class="description ">Macbook Pro 2019.</h4>

                </div>
            </div>

            <div class="articulo "><img src="/images/img-samsung-galaxy-s10.jpg " width="360 "
                    alt="Teléfono Móvil Samsung Galaxy " class="product_img ">
                <div class="div2 ">
                    <i class="fas fa-truck imgicon "></i>
                    <div class="contenedor ">
                        <h5 class="price ">$70.500</h5>
                        <h5 class="discount ">15% off</h5>
                    </div>
                    <h4 class="description ">Teléfono móvil Samsung Galaxy S10.</h4>
                </div>
            </div>

            <div class="articulo "><img src="/images/img-tv-samsung-smart.jpg " width="360 " alt="SmartTv Samsung "
                    class="product_img ">
                <div class="div2 ">
                    <i class="fas fa-truck imgicon "></i>
                    <div class="contenedor ">
                        <h5 class="price ">$34.000</h5>
                        <h5 class="discount ">5% off</h5>
                    </div>
                    <h4 class="description ">SmartTv Samsung 43".</h4>
                </div>
            </div>
        </div>
        <h3>Ofertas</h3>
        <div class="contenedor-productos">
            <div class="articulo"><img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera"
                    class="product_img">
                <div class="div2"><br><i class="fas fa-truck imgicon"></i>
                    <div class="contenedor">
                        <h5 class="price">$6.770</h5>
                        <h5 class="discount">40% off</h5>
                    </div>
                    <h4 class="description">Cafetera Moulinex Dolce Gusto.</h4>
                </div>
            </div>

            <div class="articulo"><img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook"
                    class="product_img">
                <div class="div2">
                    <i class="fas fa-truck imgicon"></i>
                    <div class="contenedor">
                        <h5 class="price">$230.000</h5>
                        <h5 class="discount">20% off</h5>
                    </div>
                    <h4 class="description">Macbook Pro 2019.</h4>
                </div>
            </div>

            <div class="articulo"><img src="/images/img-samsung-galaxy-s10.jpg" width="360"
                    alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <div class="div2">
                    <i class="fas fa-truck imgicon"></i>
                    <div class="contenedor">
                        <h5 class="price">$70.500</h5>
                        <h5 class="discount">15% off</h5>
                    </div>
                    <h4 class="description">Teléfono móvil Samsung Galaxy S10.</h4>
                </div>
            </div>

            <div class="articulo"><img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung"
                    class="product_img">
                <div class="div2">
                    <i class="fas fa-truck imgicon"></i>
                    <div class="contenedor">
                        <h5 class="price">$34.000</h5>
                        <h5 class="discount">5% off</h5>
                    </div>
                    <h4 class="description">SmartTv Samsung 43".</h4>
                </div>
            </div>
        </div>
    </main>
</body>

<footer>
    <div class="objfooter">
        <div>
            <i2 class="far fa-credit-card icono"></i2>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es
                seguro!</p>
        </div>
        <div>
            <i2 class="fas fa-gift icono"></i2>
            <h4>Envío gratis desde los $ 2.500</h4>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de
                MercadoPuntos.
            </p>
        </div>
        <div>
            <i2 class="fas fa-lock icono"></i2>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.
            </p>
        </div>
    </div>
    <div class="copyr">
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
</footer>

</html>

</html>