<!--

■ Contraseña
■ Confirmar contraseña
■ Botón de enviar que nos lleve a la página principal
■ Botón de borrar todos los datos del formulario-->

<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>MercadoLiebre</title>
    <meta name="viewport" content="width=device-width">

    <!-- Llamar al CSS, y vinculo la hoja de estilos css con el html!!!-->
    <link rel="stylesheet" href="/css/style.css">
    <!-- tengo que agregar a la carpeta public/css el archivo normalize.css (lo saco de goglee) para que me acomode la pagina de una forma general de navegadores-->
    <link rel="stylesheet" href="/css/normalize.css">
    <!--permite que nuestro sitio se ajuste perfectamente a cualquier resolucion de pantalla-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- librerias-->
    <script src="https://kit.fontawesome.com/c1249e3e65.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />



</head>
<header class="main-header">
    <div class="contenedor-inicio">
        <div class="fondoAmarillo ">
            <div class="main-header-top-bar">
                <img src="/images/logo-mercado-liebre.svg " width="90% " alt="Logo de MercadoLiebre" class="logo">
                <div class="searchbar"> <input type="text" placeholder="Buscar productos, marcas y mas"> </div>
                <h2 class="copyheader"><i class="fas fa-hand-holding-usd "></i>Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <div class="site">
                <ul class="first-nav-bar">
                    <li><a href="# ">Ofertas</a></li>
                    <li><a href="# ">Tiendas Oficiales</a></li>
                    <li><a href="# ">Vender</a></li>
                    <li><a href="# ">Ayuda</a>
                    </li>
                </ul>
                <ul class="second-nav-bar">
                    <li><a href="/views/register.html">Creá tu cuenta <i class="far fa-id-card "></i></a></li>
                    <li><a href="# ">Ingresá<i class="fas fa-sign-in-alt "></i></a></li>
                    <li><a href="# ">Mis compras<i class="fas fa-shopping-basket "></i></a></li> <br>

                </ul>
            </div>
            <div class="menubar "><i class="fas fa-bars menuburger "></i></div>
        </div>

    </div>
    </div class="contenedor-inicio ">
    <div class="banner "><img src="/images/img-home-banner.jpg " width="100% " alt="Banner de ofertas "></div>
</header>


<form action="/register.html" method="GET">
    <div>
        <label for="nombre"> Nombre y apellido</label>
        <input type="text" name="nombre" id="nombre">
    </div>
    <div>
        <label for="usuario"> Nombre de usuario</label>
        <input type="text" name="usuario" id="usuario">
    </div>
    <div>
        <label for="nacimiento"> Fecha de nacimiento</label>
        <input type="date" name="nacimiento" id="nacimiento">
    </div>
    <div>
        <label for="domicilio"> Domicilio</label>
        <input type="text" name="domicilio" id="domicilio">
    </div>
    <div>
        <label for="perfil"> Perfil de usuario</label>
        <select name="perfil">
            <option value="comprar">Comprar</option>
            <option value="vender">Vender</option>
        </select>
    </div>
    <div>
        <label for="interes"> Categorías de interes
            <label><input type="checkbox" name="interes" value="electro">Electro</label>
            <label><input type="checkbox" name="interes" value="moda">Moda</label>
            <label><input type="checkbox" name="interes" value="hogar">Hogar</label>
            <label><input type="checkbox" name="interes" value="jugueteria">Juguetería</label>
            <label><input type="checkbox" name="interes" value="vida sana">Vida sana</label>
        </label>
    </div>
    <div>
        <label for="foto perfil">
            <input type="file" id="foto perfil" name="foto perfil" accept=".jpg, .html" multiple>
        </label>
    </div>
    <div>
        <label for="contrasena">
            <input type="password" id="contrasena" name="contrasena" required>
        </label>
    </div>
</form>
<footer>

    <i2 class="far fa-credit-card icono"></i2>
    <h4>Pagá con tarjeta o en efectivo</h4>
    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>
    <i2 class="fas fa-gift icono"></i2>
    <h4>Envío gratis desde los $ 2.500</h4>
    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.
    </p>
    <i2 class="fas fa-lock icono"></i2>
    <h4>Seguridad de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
    <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>

</footer>
</html>

</html>